body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

#quiz-container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 15px;
    word-wrap: break-word;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.options {
    list-style-type: none;
    padding: 0;
}

.option {
    margin-bottom: 10px;
}

button {
    background-color: #6fa4e5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #5085c4;
    transform: scale(1.05);
}

button:active {
    background-color: #405e8a;
    transform: scale(0.95);
}

#add-question-form {
    display: none;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Center the buttons at the bottom */
#bottom-buttons {
    text-align: center;
    margin-top: 20px;
}

#bottom-buttons button {
    margin: 0 3px;
}