body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

#container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    position: relative;
    margin-bottom: 15px;
    word-wrap: break-word;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.name-input {
    position: relative;
    margin-bottom: 15px;
    word-wrap: break-word;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.add-question {
    position: relative;
    margin-bottom: 15px;
    word-wrap: break-word;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.options {
    list-style-type: none;
    padding: 0;
}

.option {
    margin-bottom: 10px;
}

.checkbox {
    margin-left: 10px;
}

button {
    background-color: #6fa4e5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #5085c4;
    transform: scale(1.05);
}

button:active {
    background-color: #405e8a;
    transform: scale(0.95);
}

#add-question-form {
    display: none;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: both;
}

/* Center the buttons at the bottom */
#bottom-buttons {
    text-align: center;
    margin-top: 20px;
}

#bottom-buttons button {
    margin: 0 10px;
}

.switch-toggle {
    position: relative;
    display: inline-block;
    width: 40px;  /* Adjusted width */
    height: 20px; /* Adjusted height */
    top: -10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px; /* Adjusted border radius */
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px; /* Adjusted height */
    width: 16px; /* Adjusted width */
    left: 2px;   /* Adjusted left position */
    bottom: 2px; /* Adjusted bottom position */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px); /* Adjusted translateX value */
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Adjusted style for the close button */
.close-button {
    position: absolute;
    top: 0px;
    right: 2px;
    background: #ff5252;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1; /* Ensure the button is above other elements */
}

.close-button:hover {
    background: #c50f0f;
}
